<h1>Sign in</h1>

<%= form_with url: sign_in_path, data: { turbo: false } do |form| %>
  <div class= "mb-3">
    <%= form.label :email%>
    <%= form.text_field :email, class: "form-control", placeholder: "user_name@wallet.com" %>
  </div> 

  <div class= "mb-3">
    <%= form.label :password%>
    <%= form.password_field :password, class: "form-control", placeholder: "password" %>
    <%=link_to "Forgot your password?", root_path%>
  </div> 

  <div class= "mb-3">
    <%= form.submit "Sign In", class: "btn btn-primary" %>
  </div> 
  <% end %>

<div>
	<%=link_to "Sign Up", sign_up_path, class: "btn btn-primary"%>
</div>

