<% provide(:title, 'User Registration') %>
<h1>User Registration</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url:new_user_path) do |f| %>
      <%= f.label :Username %>
      <%= f.text_field :Username %>

      <%= f.label :Firstname %>
      <%= f.text_field :Firstname %>

      <%= f.label :Lastname %>
      <%= f.text_field :Lastname %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :Password %>
      <%= f.password_field :Password %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
