<!DOCTYPE html>
<html>
<head>
	<title>Virtual Wallet - Securely Manage Your Finances Online</title>
</head>
<body>
	<header>
		<h1>Welcome to Virtual Wallet</h1>
		<p>Securely manage your finances online with our easy-to-use virtual wallet platform. Whether you're looking to budget your expenses, track your spending, or pay bills online, Virtual Wallet has you covered.</p>
	</header>
	<section>
		<h2>Features</h2>
		<ul>
			<li>Track your spending with detailed reports</li>
			<li>Create custom budgets and receive alerts when you exceed them</li>
			<li>Pay bills online with just a few clicks</li>
			<li>Send and receive money from friends and family</li>
			<li>Securely store your payment information and transaction history</li>
		</ul>
	</section>
	<section>
		<h2>Get Started</h2>
		<p>Sign up for a Virtual Wallet account today and start managing your finances online. Our platform is easy to use and completely secure, with advanced encryption and fraud detection to keep your information safe.</p>
		<% if user_signed_in? %> 
        <div> Welcome <%= current_user.email %> </div> 
        <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
        <% else %>
        <%= button_to "Sign in", new_user_session_path %>
        <% end %>
	</section>
	<%= link_to "About", about_path %>
	<%= link_to "Contact Us", contactus_path %> 
</body>
</html>