<h1> Add more cash </h1>

<%= form_with model: @balance, url: edit_wallet_balance_path(@balance.id), data: { turbo: false }, method: :patch  do |form| %>
    <% if @balance.errors.any? %>
        <div class="alert alert-danger">
            <% balance.errors.full_messages.each do |message| %>
                <div> <%= message %> </div>
            <% end %>
        </div>
    <% end %>

    <div class= "mb-3">
        <%= form.hidden_field :id %>
        <%= form.label :amount%>
        <%= form.text_field :value, class: "form-control", placeholder: "100" %>
    </div> 

    <div class= "mb-3">
    <%= form.label :card_id %>
    <%= form.select :card_id, options_for_select(@wallet.cards.map{ |c| ["#{c.issuer} - #{c.number.slice(-4, 4)}", c.id] }), { class: "form-control" } %>
    </div> 

    <div class= "mb-3">
        <%= form.submit "Add Cash", class: "btn btn-primary" %>
    </div> 
<% end %>