<h1>My Balances</h1>
<div class="row">
  <% if @balances %>
    <% @balances.each do |balance| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= balance.currency %></h5>
            <h6 class="card-subtitle mb-2 text-muted">Balance: <%=balance.value %></h6>
          </div>
          
          <div class="mx-3 btn-group d-grid gap-2 d-md-block mb-2 align-items-center">
            <div>
              <%= form_with model: balance, url: wallet_balance_path(balance.id), data: { turbo: false } do |form| %>
                <%= form.hidden_field :id %>
                <%= form.submit "Select", class: "btn btn-primary" %>
              <% end %>
            </div>

            <div>
            <%=link_to "Add cash", edit_wallet_balance_path(balance.id), class: "btn btn-primary"%>
            </div>

            <div>
              <%= form_with model: balance, url: wallet_balance_path(balance.id), method: :delete do |form| %>
                <%= form.hidden_field :id %>
                <%= form.submit "Transfer out", class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div>
	<%=link_to "Add a new currency", new_wallet_balance_path, class: "btn btn-primary"%>
</div>