<% if @wallet.cards.empty? %>
  <div class="alert alert-warning" role="alert">
    Add a card now before you deposit some cash!
  </div>

  <div>
  <%=link_to "Add a card now!", new_wallet_card_path, class: "btn btn-primary"%>
  </div>
<% end %>

<h1>My Balances</h1>
<div class="row">
  <% if @balances %>
    <% @balances.each do |balance| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= balance.currency %></h5>
            <h6 class="card-subtitle mb-2 text-muted">Balance: <%=balance.value %></h6>
          </div>
          
          <div class="row mx-2">
            <div class="col-3 ml-2 mb-2">
              <%= form_with model: balance, url: wallet_balance_path(balance.id), data: { turbo: false } do |form| %>
                <%= form.hidden_field :id %>
                <%= form.submit "Select", class: "btn btn-primary" %>
              <% end %>
            </div>

            <div class="col-3 ml-2 mb-2">
            <%=link_to "Deposit", edit_wallet_balance_path(balance.id), class: "btn btn-primary"%>
            </div>

            <div class="col-3 mx-3 mb-2">
              <%= form_with model: balance, url: wallet_balance_path(balance.id), method: :delete do |form| %>
                <%= form.hidden_field :id %>
                <%= form.submit "Transfer out", class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<% if !@wallet.cards.empty? %>
  <div>
    <%=link_to "Add a new currency", new_wallet_balance_path, class: "btn btn-primary"%>
  </div>
<% end %>