<h1> Add a new card</h1>

<%= form_with model: @card, url: new_wallet_card_path, data: { turbo: false } do |form| %>
    <% if @card.errors.any? %>
        <div class="alert alert-danger">
            <% @card.errors.full_messages.each do |message| %>
                <div> <%= message %> </div>
            <% end %>
        </div>
    <% end %>
    
    <div class= "mb-3">
        <%= form.label :issuer%>
        <%= form.select :issuer, [["VISA", "VISA"], ["MASTER", "MASTER"], ["DISCOVER", "DISCOVER"]] %>
    </div> 
    <div class= "mb-3">
        <%= form.label :card_number%>
        <%= form.text_field :number, class: "form-control", placeholder: "1111 2222 3333 4444" %>
    </div> 
    <div class= "mb-3">
        <%= form.label :expiration_date%>
        <%= form.text_field :expiration_date, class: "form-control", placeholder: "dd/yy" %>
    </div>
    <div class= "mb-3">
      <%= form.label :card_holder_name%>
      <%= form.text_field :holder_name, class: "form-control", placeholder: "John Doe" %>
    </div>

      <div class= "mb-3">
      <%= form.label :cvv%>
      <%= form.text_field :cvv, class: "form-control", placeholder: "123" %>
    </div>
    <div class= "mb-3">
        <%= form.submit "Add Card", class: "btn btn-primary" %>
    </div> 
<% end %>