<h1>My Cards</h1>
<div class="row">
  <% @cards.each do |card| %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= card.issuer %></h5>
          <h6 class="card-subtitle mb-2 text-muted">Card Number: <%= card.card_number %></h6>
          <p class="card-text">Card Holder Name: <%= card.card_holder_name %></p>
          <p class="card-text">Expiration Date: <%= card.expiration_date %></p>
        </div>
        
        <div class="mx-3 btn-group d-grid gap-2 d-md-block mb-2 align-items-center">
          <%=link_to "Select", card_path, class: "btn btn-primary"%>
          <%=link_to "Edit", edit_card_path, class: "btn btn-primary"%>
          <%=link_to "Delete", card, method: :delete, data: {confirm: "Are you sure? "}, class: "btn btn-primary" %>
        </div>

      </div>
    </div>
  <% end %>
</div>